@import 'mixins.scss';

div.heading {
  border-bottom: #ccc 2px solid;
  position: relative;
  margin-bottom: 40px;

  div.options {
    position: absolute;
    right: 0;
    bottom: 20px;
  }
}
h1.page-title {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;

  &::before {
    background: #2196f3;
    height: 2px;
    width: 100px;
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
  }
}
.bold {
  font-weight: 800;
}
.pointer {
  cursor: pointer;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.medal {
  background: url('/assets/medal.png');
  width: 100px;
  height: 120px;
  position: relative;

  &.gold {
    background-position: 0 0;
  }
  &.silver {
    background-position: -100px 0;
  }
  &.bronze {
    background-position: -200px 0;
  }
}

.tool-tip {
  position: relative;
  display: block;

  &:hover .tooltip-container {
    @include opacity(1);
  }
  .tooltip-container {
    @include transition(opacity .8s ease);
    @include opacity(0);
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    width: 200%;
    left: -50%;
    z-index: 999;
    color: #333;
    cursor: pointer;
  }

}

/** Spinner **/
.glyphicon.spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}
@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
