<!-- New moon leaderboard -->
<div>

  <label>Select new moon</label>
  <select class="form-control" ng-options="o.iso8601 | date for o in vm.newMoons" ng-model="$parent.vm.selectedNewMoon" ng-change="vm.selectNewMoon()"></select>

  <hr>

  <h3 ng-if="vm.leaderboard.length">Leaderboard for {{ vm.selectedNewMoon.iso8601 | date }}</h3>
  <table class="table table-striped table-hover" ng-if="vm.leaderboard.length">
    <thead>
      <tr>
        <th class="col-md-2">Place</th>
        <th class="col-md-4">{{ '_PLAYER' | translate}}</th>
        <th class="col-md-6">Geld</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="row in vm.leaderboard">
        <td ng-class="{bold: row.place <= 3}">
          {{ row.place }}
        </td>
        <td>
          <strong>{{ row.player_alias || 'No alias' }}</strong>
        </td>
        <td>{{ row.geld | number:0}}</td>
        <td>
          <medal place="row.place" ng-if="row.place <= 3"></medal>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<!-- / New moon leaderboard -->
