<!-- Graph view -->
<div>
  <graph graph-title="vm.graphData.claimDays.title"
    type="vm.graphData.claimDays.type"
    data="vm.graphData.claimDays.data"
    labels="vm.graphData.claimDays.labels"
    series="vm.graphData.claimDays.series"
    options="vm.graphData.claimDays.options">
  </graph>

  <graph graph-title="vm.graphData.claimsPerDay.title"
    type="vm.graphData.claimsPerDay.type"
    data="vm.graphData.claimsPerDay.data"
    labels="vm.graphData.claimsPerDay.labels"
    series="vm.graphData.claimsPerDay.series"
    options="vm.graphData.claimsPerDay.options">
  </graph>
</div>
<!-- / Graph View -->
