<!-- Graph view -->
<div>
  <graph graph-title="graphData.claimDays.title"
    type="graphData.claimDays.type"
    data="graphData.claimDays.data"
    labels="graphData.claimDays.labels"
    series="graphData.claimDays.series"
    options="graphData.claimDays.options">
  </graph>

  <graph graph-title="graphData.claimsPerDay.title"
    type="graphData.claimsPerDay.type"
    data="graphData.claimsPerDay.data"
    labels="graphData.claimsPerDay.labels"
    series="graphData.claimsPerDay.series"
    options="graphData.claimsPerDay.options">
  </graph>
</div>
<!-- / Graph View -->
