<!-- Log view -->
<div>

  <div ng-if="!vm.log.length" class="alert alert-warning">You have not made any claims on this tower</div>

  <table class="table table-striped" ng-if="vm.log.length">
    <thead>
      <tr>
        <th>Date claimed</th>
        <th>Geld collected</th>
        <th>Geld bonus</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in vm.log">
        <td>{{ event.claimed_on | date:'mediumDate' }}</td>
        <td>{{ event.geld_collected | number:0 }}</td>
        <td>{{ event.geld_bonus | number:0 }}</td>
      </tr>
    </tbody>
  </table>

</div>
<!-- / Log view -->
