<!-- Main view -->
<div ng-if="vm.tower">

  <div class="row">

    <div ng-class="{'col-md-6': vm.map, 'col-md-12': !vm.map}">
      <table class="table table-striped">
        <tr>
          <th>{{ '_NAME' | translate }}</th>
          <td>{{ vm.tower.tower_name || '-' }}</td>
        </tr>
        <tr>
          <th>{{ '_COUNTRY' | translate }}</th>
          <td>{{ vm.tower.country }}</td>
        </tr>
        <tr>
          <th>{{ '_BUILD_DATE' | translate }}</th>
          <td>{{ vm.tower.created_on | date }}</td>
        </tr>
        <tr>
          <th>{{ '_CREATOR' | translate }}</th>
          <td>{{ vm.tower.player_alias }}</td>
        </tr>
        <tr>
          <th>{{ '_ADDRESS' | translate }}</th>
          <td>{{ vm.tower.formatted_address }}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-6" ng-if="vm.map">
      <div id="map">
        <img src="{{ vm.map }}" class="img-thumbnail" alt=""/>
      </div>
    </div>

  </div>

  <h2>{{ '_TOWER_STATS' | translate }}</h2>

  <table class="table table-striped">
    <tr>
      <th>{{ '_CLAIMS_ON_TOWER' | translate }}</th>
      <td>{{ vm.tower.stats.claim_count || '0' }}</td>
    </tr>
    <tr>
      <th>{{ '_PLAYERS_CLAIMED_TOWER' | translate }}</th>
      <td>{{ vm.tower.stats.player_count || '0' }}</td>
    </tr>
    <tr>
      <th>{{ '_FIRST_CLAIMED_ON' | translate }}</th>
      <td>{{ (vm.tower.stats.first_claimed_on | date:'mediumDate') || 'Never' }}</td>
    </tr>
    <tr>
      <th>{{ '_LAST_CLAIMED_ON' | translate }}</th>
      <td>{{ (vm.tower.stats.last_claimed_on | date:'mediumDate') || 'Never' }}</td>
    </tr>
    <tr>
      <th>{{ '_TOTAL_GELD_COLLECTED' | translate }}</th>
      <td>{{ vm.tower.stats.total_geld_collected || '0' }}</td>
    </tr>
    <tr>
      <th>{{ '_TOTAL_GELD_BONUS' | translate }}</th>
      <td>{{ vm.tower.stats.total_geld_bonus || '0' }}</td>
    </tr>
  </table>

</div>
<!-- / Main view -->
