<div class="row">

  <div class="col-md-1">
    <img src="/assets/flags/{{ country.country_code | lowercase }}.png" alt="Sweden" class="flag" />
  </div>

  <div class="col-md-9">
    <h4>{{ country.country | uppercase }}</h4>

    <strong>{{ '_FIRST_BUILD_BY' | translate}}: </strong> <span>{{ country.player_alias }}</span> <br>
    <strong>{{ '_BUILT_ON_ADDRESS' | translate}}: </strong> <span>{{ country.formatted_address }}</span> <br>
    <strong>{{ '_BUILD_DATE' | translate}}: </strong> <span>{{ country.created_on | validDate }}</span>
  </div>

  <div class="col-md-2 text-center">
    <h3>{{ country.player_alias }}</h3>
  </div>

</div>
