<div class="content-header">

  <div class="container">
    <h1>About us</h1>
    <h2>Read about the site</h2>
  </div>

</div>

<div class="about-container container">
  <div class="heading">
    <h1 class="page-title">About</h1>
  </div>

  <div class="row">
    <div class="col-md-7">
      <h2>The game</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet arcu at lorem ullamcorper fermentum.
        Maecenas magna nibh, interdum sed turpis vel, faucibus fringilla arcu. Vivamus iaculis velit vel est pellentesque consequat.
        Vestibulum vel euismod tellus. Duis id rhoncus diam. Ut sed risus lectus. Nam urna purus, interdum quis pulvinar consectetur, gravida ac lacus.
        Pellentesque porttitor, arcu viverra tincidunt fermentum, neque massa sagittis sapien, id euismod nulla metus nec sem.
        Mauris eget consectetur nisi, eu maximus nibh. Vivamus rutrum massa vel leo hendrerit fringilla.
        Cras congue augue dictum venenatis cursus. Donec quis finibus diam. Curabitur fermentum condimentum dignissim.
        Aliquam risus nibh, bibendum quis pharetra non, vulputate eu nulla. Cras et commodo dui.
      </p>

      <p>
        Donec accumsan risus nec odio suscipit venenatis. Nullam egestas orci at ipsum consectetur rutrum.
        Nullam imperdiet sit amet erat nec pretium. Curabitur cursus varius ex, quis tincidunt purus vestibulum ut.
        Vivamus sed urna nibh. Morbi gravida placerat augue sit amet sodales. Aenean condimentum tortor nulla,
        nec dapibus nisi vestibulum quis. Fusce vel ligula nisl. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. In sollicitudin turpis quis interdum malesuada. Praesent consectetur aliquet eleifend.
        Ut eleifend pulvinar urna non vestibulum.
      </p>

      <p>
        Nullam iaculis varius cursus. In egestas nisi eu accumsan tempor. Etiam facilisis neque sed tellus ullamcorper ornare.
        Quisque mattis, eros et bibendum laoreet, eros turpis ullamcorper lorem, in fringilla metus libero ut felis.
        Aliquam sodales aliquam diam sed varius. Nulla vel tellus cursus massa vestibulum interdum ac in ipsum.
        Duis bibendum ante ut vestibulum congue. Pellentesque metus ante, viverra ut turpis ut, lobortis efficitur arcu.
        Donec ante augue, egestas non tellus at, blandit bibendum lectus. Proin sit amet nibh finibus, molestie nulla quis, tempus ipsum.
      </p>
    </div>

    <div class="col-md-5">
      <h2>Statistics</h2>
      <p>
        Nullam iaculis varius cursus. In egestas nisi eu accumsan tempor. Etiam facilisis neque sed tellus ullamcorper ornare.
        Quisque mattis, eros et bibendum laoreet, eros turpis ullamcorper lorem, in fringilla metus libero ut felis.
        Aliquam sodales aliquam diam sed varius. Nulla vel tellus cursus massa vestibulum interdum ac in ipsum.
        Duis bibendum ante ut vestibulum congue. Pellentesque metus ante, viverra ut turpis ut, lobortis efficitur arcu.
        Donec ante augue, egestas non tellus at, blandit bibendum lectus. Proin sit amet nibh finibus, molestie nulla quis, tempus ipsum.
      </p>
    </div>
  </div>



</div>
