<div class="content-header">

  <div class="container">
    <h1>Stats</h1>
    <h2>{{ '_STATISTICS_FOR_GAME' | translate }}</h2>
  </div>

</div>

<div class="graph-container container">

  <div class="heading">
    <h1 class="page-title">Stats</h1>
  </div>

  <div class="row">

    <!-- Col -->
    <div class="col-md-9">

      <div ng-repeat="graph in graphData track by $index" id="anchor{{$index}}">
        <graph graph-title="graph.title"
          type="graph.type"
          data="graph.data"
          labels="graph.labels"
          series="graph.series"
          datasetoverride="graph.dataset"
          options="graph.options">
        </graph>
      </div>

    </div>
    <!-- / Col -->

    <!-- Col -->
    <div class="col-md-3">

      <!-- Filters -->
      <div class="panel panel-primary">
        <div class="panel-heading">Filter</div>
        <div class="panel-body">

          <div class="form-group">

            <label for="filter">Filter</label>
            <select class="form-control" ng-options="o.name for o in filterOptions" ng-model="filter"></select>

          </div>

          <div class="form-group" ng-if="filter.value == 'filter_by_year'">

            <label for="filter">{{ '_CHOOSE_YEAR' | translate }}</label>
            <select class="form-control" ng-options="o.name for o in yearOptions" ng-model="$parent.selectedYear"></select>

          </div>

          <div ng-if="filter.value == 'filter_by_new_moons'">

            <h4>{{ '_FILTER_BY_NEW_MOON' | translate }}</h4>
            <div class="form-group">

              <label for="filterByMoonStart">{{ '_FROM' | translate }}</label>
              <select class="form-control" ng-options="(o.iso8601 | date) for o in moons" ng-model="$parent.filterByMoonStart"></select>

            </div>

            <div class="form-group">
              <label for="filterByMoonEnd">{{ '_TO' | translate }}</label>
              <select class="form-control" ng-options="(o.iso8601 | date) for o in moons | filterMoons:$parent.filterByMoonStart" ng-model="$parent.filterByMoonEnd"></select>

            </div>

          </div>

          <button class="btn btn-success" ng-click="filterData()">Filter</button>
          <button class="btn btn-warning" ng-click="clearFilter()">Reset</button>

        </div>
      </div>
      <!-- End filters -->

      <div class="panel panel-primary">
        <div class="panel-heading">Go to graph</div>
        <div class="panel-body list-group no-padding">

          <div class="list-group-item" ng-repeat="graph in graphData track by $index">
            <span ng-click="gotoAnchor($index)" class="pointer">{{ graph.series[0] }}</span>
          </div>

        </div>
      </div>

    </div>
    <!-- / Col -->

  </div>

</div>
