<div class="content-header">

  <div class="container">
    <h1>Stats</h1>
    <h2>{{ '_STATISTICS_FOR_GAME' | translate }}</h2>
  </div>

</div>

<div class="graph-container container">

  <div class="heading">
    <h1 class="page-title">Stats</h1>
  </div>

  <!-- Filters -->
  <div class="form-group">

    <label for="filter">Filter</label>
    <select class="form-control" ng-options="o.name for o in filterOptions" ng-model="filter"></select>

  </div>

  <div class="form-group" ng-if="filter.value == 'filter_by_year'">

    <label for="filter">{{ '_CHOOSE_YEAR' | translate }}</label>
    <select class="form-control" ng-options="o.name for o in yearOptions" ng-model="$parent.selectedYear"></select>

  </div>

  <div ng-if="filter.value == 'filter_by_new_moons'">

    <h4>{{ '_FILTER_BY_NEW_MOON' | translate }}</h4>
    <div class="form-group">

      <label for="filterByMoonStart">{{ '_FROM' | translate }}</label>
      <select class="form-control" ng-options="(o.iso8601 | date) for o in moons" ng-model="$parent.filterByMoonStart"></select>

    </div>

    <div class="form-group">
      <label for="filterByMoonEnd">{{ '_TO' | translate }}</label>
      <select class="form-control" ng-options="(o.iso8601 | date) for o in moons" ng-model="$parent.filterByMoonEnd"></select>

    </div>

  </div>

  <button class="btn btn-success" ng-click="filterData()">Filter</button>
  <!-- End filters -->


  <graph graph-title="_MOST_TOWERS_CLAIMED"
    data="claimCountData"
    labels="claimCountLabels"
    series="claimCountSeries">
  </graph>

  <graph graph-title="_MOST_GELD_COLLECTED"
    data="geldCollectedData"
    labels="geldCollectedLabels"
    series="geldCollectedSeries">
  </graph>

  <graph graph-title="_MOST_TOWERS_BUILT"
    data="towersBuiltData"
    labels="towersBuiltLabels"
    series="towersBuiltSeries">
  </graph>

  <graph graph-title="_HIGHEST_GELD_BONUS"
    data="geldBonusData"
    labels="geldBonusLabels"
    series="geldBonusSeries">
  </graph>

  <graph graph-title="_TOWERS_WITH_MOST_CLAIMS"
    data="towerHighestClaimData"
    labels="towerHighestClaimLabels"
    series="towerHighestClaimSeries">
  </graph>

  <graph graph-title="_TOWERS_WITH_MOST_PLAYER_COUNT"
    data="towerTopPlayerCountData"
    labels="towerTopPlayerCountLabels"
    series="towerTopPlayerCountSeries"
    options="towerTopPlayerCountOptions">
  </graph>

  <graph graph-title="_CITIES_WITH_MOST_TOWERS"
    data="towersByCityData"
    labels="towersByCityLabels"
    series="towersByCitySeries">
  </graph>

</div>
