<div>
  <h1>Welcome</h1>

  <h3>List of towers</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Tower</th>
        <th>Country</th>
        <th>Build date</th>
        <th>Creator</th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="tower in towers">
        <td><a ui-sref="towerSingle({id: tower.tower_id})">{{ tower.tower_name || 'Inget namn' }}</a></td>
        <td>{{ tower.country}}</td>
        <td>{{ tower.created_on | date:'mediumDate' }}</td>
        <td>{{ tower.player_alias }}</td>
      </tr>
    </tbody>

  </table>
</div>
