<div class="content-header">

  <div class="container">
    <h1>Welcome</h1>
    <h2>Review your latest statistics</h2>
  </div>

</div>

<div class="home-container container">
  <div class="heading">
    <h1 class="page-title">{{ '_WELCOME' | translate}}</h1>
  </div>

  <!-- TODO: display a list here of towers that you have claimed but not named -->

  <h3>{{ '_TOWER_LIST' | translate }}</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-5 pointer" ng-click="sortBy('tower_name')">{{ '_TOWER' | translate }}</th>
        <th class="col-md-2 pointer" ng-click="sortBy('country')">{{ '_COUNTRY' | translate }}</th>
        <th class="col-md-2 pointer" ng-click="sortBy('created_on')">{{ '_BUILD_DATE' | translate }}</th>
        <th class="col-md-3 pointer" ng-click="sortBy('player_alias')">{{ '_CREATOR' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="tower in towers | filter: paginate">
        <td><a ui-sref="app.towerSingle({id: tower.tower_id})">{{ tower.tower_name || '-' }}</a></td>
        <td>{{ tower.country}}</td>
        <td>{{ tower.created_on | date:'mediumDate' }}</td>
        <td>{{ tower.player_alias }}</td>
      </tr>
    </tbody>

  </table>

  <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>
</div>
