
  <div id="header">
    <div class="container">

      <!-- Row -->
      <div class="row">

        <div class="col-md-2 col-xs-2">

          <div class="logo">
            <a ui-sref="app.me">
              <img src="/assets/logo.png" width="200" alt="Logo">
            </a>
          </div>

        </div>

        <div class="col-md-10 col-xs-10">

          <ul class="menu pull-right" ng-controller="MenuController">
            <li><a ui-sref="app.me">{{ '_MY_STATS' | translate }}</a></li>
            <li><a ui-sref="app.graph">{{ '_STATISTICS' | translate }}</a></li>
            <li><a ui-sref="app.leaderboard">{{ '_LEADERBOARD' | translate }}</a></li>
            <li><a ui-sref="app.hallOfFame">{{ '_HALL_OF_FAME' | translate }}</a></li>
            <li><a ui-sref="app.achievements">{{ '_ACHIEVEMENTS' | translate }}</a></li>
            <li class="login pointer" ng-if="!authed"><a ui-sref="login">{{ '_LOGIN' | translate }}</a></li>
            <li class="login pointer" ng-if="authed"><a ng-click="logout()">{{ '_LOGOUT' | translate }}</a></li>

            <li class="menu-dropdown dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">☰</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a ui-sref="app.me">{{ '_MY_STATS' | translate }}</a></li>
                <li><a ui-sref="app.graph">{{ '_STATISTICS' | translate }}</a></li>
                <li><a ui-sref="app.leaderboard">{{ '_LEADERBOARD' | translate }}</a></li>
                <li><a ui-sref="app.hallOfFame">{{ '_HALL_OF_FAME' | translate }}</a></li>
                <li><a ui-sref="app.achievements">{{ '_ACHIEVEMENTS' | translate }}</a></li>
                <li role="separator" class="divider"></li>
                <li class="login pointer" ng-if="!authed"><a ui-sref="login">{{ '_LOGIN' | translate }}</a></li>
                <li class="login pointer" ng-if="authed"><a ng-click="logout()">{{ '_LOGOUT' | translate }}</a></li>
              </ul>
            </li>

          </ul>

        </div>

      </div>
      <!-- / Row -->

    </div>
  </div>

  <div id="main-content">

    <div class="content">

      <div ui-view></div>

    </div>

  </div>

  <div id="footer" ng-controller="FooterController">

    <div class="container content">
      <span ng-click="changeLanguage('se')">Swedish</span> <span ng-click="changeLanguage('en')">English</span>
      Copyright © Markus Hederström 2016
      <a ui-sref="app.about">{{ '_ABOUT' | translate }}</a>
    </div>

  </div>
