<div class="content-header">

  <div class="container">
    <h1>Leaderboard</h1>
    <h2>All the top players</h2>
  </div>

</div>

<div class="leaderboard-container container">
  <div class="heading">
    <h1 class="page-title">Leaderboard</h1>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="col-md-1 pointer" ng-click="setSort('player_alias')">Player</th>
        <th class="col-md-1 pointer" ng-click="setSort('claim_count', true)">Claims</th>
        <th class="col-md-1 pointer" ng-click="setSort('tower_count', true)">Tower count</th>
        <th class="col-md-1 pointer" ng-click="setSort('first_claimed_on')">First claim</th>
        <th class="col-md-1 pointer" ng-click="setSort('last_claimed_on')">Last claim</th>
        <th class="col-md-1 pointer" ng-click="setSort('geld_collected', true)">Geld collected</th>
        <th class="col-md-1 pointer" ng-click="setSort('geld_bonus', true)">Geld bonus</th>
      </tr>
    </thead>

    <tbody>
      <tr data-ng-repeat="row in leaderboard | orderBy:orderBy:reverseOrder">
        <td>{{ row.player_alias || 'No alias' }}</td>
        <td>{{ row.claim_count }}</td>
        <td>{{ row.tower_count }}</td>
        <td>{{ row.first_claimed_on | date:'mediumDate' }}</td>
        <td>{{ row.last_claimed_on | date:'mediumDate' }}</td>
        <td>{{ row.geld_collected | number:0 }}</td>
        <td>{{ row.geld_bonus | number:0 }}</td>
      </tr>
    </tbody>

  </table>
</div>
