<div class="login-container">
  <h1 class="page-title">Login with API key</h1>

  <p><strong>Test API Key: 9zEUDsWNqr0jCQ0MbIad8QgWH0giPxF4, remove me later</strong></p>

  <form ng-submit="submitApiKey()">
    <div class="form-group">
      <label for="userApiKey" class="form-label">Enter personal API key</label>
      <input class="form-control" type="text" ng-model="userApiKey" name="userApiKey" placeholder="Enter personal API key">
    </div>
    <button class="btn btn-success" type="submit">Login</button>
  </form>


</div>
