<div class="content-header">

  <div class="container">
    <h1>{{ '_PERSONAL_STATS' | translate }}</h1>
    <h2>{{ '_YOUR_PERSONAL_PERFORMANCE' | translate }}</h2>
  </div>

</div>

<div class="me-container container">
  <div class="heading">
    <h1 class="page-title">{{ '_PERSONAL_VIEW' | translate }}</h1>
  </div>

  <div><strong>{{ '_YOUR_API_KEY' | translate }}</strong> {{ userApiKey }}</div>

  <div ng-if="lastClaimedTower.tower_id > 0">
    <h2>{{ '_LATEST_CLAIMED_TOWER' | translate }}</h2>

    <table class="table table-striped table-bordered">
      <tr>
        <th>{{ '_NAME' | translate }}:</th>
        <td>{{ lastClaimedTower.info.tower_name || '-' }}</td>
      </tr>
      <tr>
        <th>{{ '_BUILD_DATE' | translate }}:</th>
        <td>{{ lastClaimedTower.info.created_on || '-' | date:'mediumDate' }}</td>
      </tr>
      <tr>
        <th>{{ '_ADDRESS' | translate }}:</th>
        <td>{{ lastClaimedTower.info.formatted_address || '-' }}</td>
      </tr>
      <tr>
        <th>{{ '_TOWER_FIRST_CLAIMED_ON' | translate }}:</th>
        <td>{{ lastClaimedTower.stats.first_claimed_on || '-' | date:'mediumDate' }}</td>
      </tr>
      <tr>
        <th>{{ '_TOWER_LAST_CLAIMED_ON' | translate }}:</th>
        <td>{{ lastClaimedTower.stats.last_claimed_on || '-' | date:'mediumDate' }}</td>
      </tr>
      <tr>
        <th>{{ '_TOWER_GELD_COLLECTED' | translate }}:</th>
        <td>{{ lastClaimedTower.stats.total_geld_collected || '-' | number }}</td>
      </tr>
      <tr>
        <th>{{ '_TOWER_GELD_BONUS' | translate }}:</th>
        <td>{{ lastClaimedTower.stats.total_geld_bonus || '-' | number }}</td>
      </tr>
    </table>

  </div>

  <div>
    <h2>{{ '_TOWERS_CLAIMED' | translate }}</h2>
    <table class="table table-striped">

      <thead>
        <tr>
          <th class="col-md-2 pointer" ng-click="sortBy('tower_id', true)">{{ '_TOWER' | translate }}</th>
          <th class="col-md-2 pointer" ng-click="sortBy('claimed_on')">{{ '_CLAIMED_ON' | translate}}</th>
          <th class="col-md-6 pointer" ng-click="sortBy('formatted_address')">{{ '_ADDRESS' | translate }}</th>
          <th class="col-md-1 pointer" ng-click="sortBy('geld_collected', true)">{{ '_GELD_COLLECTED' | translate }}</th>
          <th class="col-md-1 pointer" ng-click="sortBy('geld_bonus', true)">{{ '_GELD_BONUS' | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="tower in claimedTowers | filter: paginate">
          <td><a ui-sref="app.towerSingle({id: tower.tower_id})">ID: {{ tower.tower_id }}</a></td>
          <td>{{ tower.claimed_on | date:'mediumDate' }}</td>
          <td>{{ tower.formatted_address }}</td>
          <td>{{ tower.geld_collected | number:0 }}</td>
          <td>{{ tower.geld_bonus | number:0 }}</td>
        </tr>
      </tbody>

    </table>

    <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"></pagination>
  </div>

  <graph graph-title="_DAYS_WITH_MOST_CLAIMS"
    data="graphData.claimDays.data"
    labels="graphData.claimDays.labels"
    series="graphData.claimDays.series"
    options="graphData.claimDays.options">
  </graph>

</div>
