<!-- <h1>Takeovers per day in month</h1>
<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas> -->

<h1>Most towers claimed</h1>
<canvas id="bar" class="chart chart-bar" chart-data="claimCountData" chart-labels="claimCountLabels" chart-series="claimCountSeries"></canvas>

<h1>Most geld collected</h1>
<canvas id="bar" class="chart chart-bar" chart-data="geldCollectedData" chart-labels="geldCollectedLabels" chart-series="geldCollectedSeries"></canvas>
