<!-- <h1>Takeovers per day in month</h1>
<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas> -->

<h1>Most towers claimed</h1>
<canvas id="bar" class="chart chart-bar" chart-data="claimCountData" chart-labels="claimCountLabels" chart-series="claimCountSeries"></canvas>

<h1>Most geld collected</h1>
<canvas id="bar" class="chart chart-bar" chart-data="geldCollectedData" chart-labels="geldCollectedLabels" chart-series="geldCollectedSeries"></canvas>

<h1>Most towers built</h1>
<canvas id="bar" class="chart chart-bar" chart-data="towersBuiltData" chart-labels="towersBuiltLabels" chart-series="towersBuiltSeries"></canvas>

<h1>Highest geld bonus</h1>
<canvas id="bar" class="chart chart-bar" chart-data="geldBonusData" chart-labels="geldBonusLabels" chart-series="geldBonusSeries"></canvas>
