<div class="content-header">

  <div class="container">
    <h1>{{ '_TOWER' | translate }}</h1>
    <h2>{{ '_TOWER_SUBTITLE' | translate }}</h2>
  </div>

</div>

<div class="tower-single-container container">
  <div class="heading">

    <div class="options">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          View
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li ng-class="{active: state.view == 'app.towerSingle.main'}"><a ui-sref=".main">Information</a></li>
          <li ng-class="{active: state.view == 'app.towerSingle.log'}"><a ui-sref=".log">Log</a></li>
        </ul>
      </div>
    </div>

    <h1 class="page-title">{{ '_VIEW_TOWER' | translate }}</h1>
  </div>

  <spinner ng-if="state.loading"></spinner>

  <div ng-if="!tower && error">
    <div class="alert alert-warning" ng-bind="error.message"></div>
  </div>

  <div ui-view></div>

</div>
